.header {

  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  align-items: center;
  margin: 90px 50px 85px 50px;

}

.header__menu {
  display: block;
  font-weight: 400;
  font-size: 18px;
}

.header__logo {
  padding: 3px 3px 7px 4px;
}

.header__link {

  justify-self: center;

}

.address {
  display: block;

  margin-left: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.45em;
}

.header .address {
  grid-column-start: 4;
}

.header__links-list {
  display: flex;
  justify-content: start;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;

}

.header__links-list-item_no-bullit a {

  text-decoration: none;
}

.header__links-list-item {

  margin-right: 35px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 156px 0px;
  color: #FFFFFF;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 160px 10px 120px 10px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.25em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.aligned-text {
  align-self: flex-start;
  padding-left: 41px;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: flex-end;
  padding-right: 10px;
  letter-spacing: 0.3em;
}

.cover__description {
  z-index: 2;
  display: flex;
  margin: 0px 0px 52px 0px;
  padding: 0px 42px 0px 0px;
  /* font-family: Raleway; */
  text-transform: uppercase;
  /* justify-content: flex-end; */
}

.cover__description-text {
  flex-grow: 1;
  align-self: center;
  margin: 0px 1px 0px 0px;
  margin-top: auto;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.0em;
  text-align: center;
  word-spacing: 24px;
}

.aligned-text_center {
  /* padding-right: 0px; */
  letter-spacing: 0.3em;
}

.last_letter {
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.bet-button {
  margin: 0px 0px 0px 0px;
  border: 1px solid #FFFFFF;
  padding: 11px 41px 10px 30px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.lots__heading {
  margin: 23px 0px 27px 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 335px;
  min-height: 563px;
  padding: 51px 39px 48px 41px;
  color: #FFFFFF;
  font-size: 22px;
}

.card__title {
  z-index: 2;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-size: 20px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  margin: 31px 6px 181px 64px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: -2px;
}
.about__logo {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: center;
  width: 240px;
  height: 240px;
  margin-left: 15px;
  border-radius: 100%;
  padding: 46px;
  background-color: black;
}

.about__column {

  margin: 15px;
}

.about__title {

  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 10px;
  margin-right: 45px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-top: 9px;
  margin-right: 24px;
  margin-left: 14px;
  font-size: 20px;
  word-spacing: 1px;
  /* letter-spacing: -0.00em; */
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: center; */
  margin-top: 181px;
  font-size: 18px;
  /* align-content: stretch; */
  /* align-items: center; */
  /* justify-items: stretch; */
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  /* align-items: baseline; */
}

.footer__menu-list {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.footer__social-list-item {
  width: 50px;
  height: 50px;
}

.footer__menu {
  /* align-self: center; */
}

.first__paragraph {
  margin-bottom: 24px;
}