.header{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  height: 105px;
  width: 1052px;
  margin: 92px 24px 92px 24px;

}

.header__menu{
  font-size: 18px;
  font-weight: 400;
  display: block;
  
}
.address{
  display: block;
  font-family: inherit; 
  grid-column-start: 4;
}
.header__links-list{

  list-style: circle;
  display: flex;
  justify-content: space-around;
  

}
.header__links-list-item_no-bullit a{
  text-decoration: none;
}
.cover{
  background-image: url("../images/cover.jpg");
  height: 757px;
}
