.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 92px 50px;
}

.header__menu {
  grid-column: 1/6;
  font-size: 18px;
  word-spacing: 0.05em;
  
}

.header__link {
  grid-column: 6/8;
  justify-self: center;
  width: 82.2%;
}
.address {
  font-size: 18px;
  line-height: 1.35em;
}
.header .address {
  grid-column: 10/13;
  margin-left: 11px;
}
.header__links-list-item {
  margin-top: 1px;
  margin-left: 33px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__links-list-item_no-bullit {
  margin-left: 0px;
  text-decoration: none;
  list-style: none;
}
.header__links-list {
  display: flex;
  list-style: circle;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 180px;
  color: #FFFFFF;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
  width: 100%;
  padding: 158px 50px 125px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.24em;
  letter-spacing: unset;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text {
  align-self: flex-start;
  
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0px;
  margin: 0px 0px 52px 77px;
  text-transform: uppercase;
}

.cover__description-text {
font-weight: 400;
font-size: 22px;
letter-spacing: 0em;
text-align: center;
word-spacing: 19px;
}

.main_letters {
  letter-spacing: 30px;
}
.separate_letter {
  letter-spacing: 60px;
}
.empty_space_letter {
  letter-spacing:unset;
}
.bet-button {
  
  margin-left: 78px;
  border: 2px solid currentColor;
  padding: 10px 30px 10px 30px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
}

.lots__heading {
  margin: 0px 0px 26px 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots {
margin-bottom: 180px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 24px;
  margin-bottom: 32px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  width: 335px;
  margin-left: 23px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 561px;
  padding: 51px 40px 47px 40px;
  color: #FFFFFF;
  font-size: 22px;
  background-position: center;
  background-size: cover;
  
}
.card__title {
  z-index: 2;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-size: 20px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: block;
  margin-left: 65px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-bottom: 180px;
  
}
.about__logo {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: center;
  width: 240px;
  height: 240px;
  margin-left: 15px;
  border-radius: 100%;
  padding: 46px;
  background-color: black;
}

.about__column {

  margin: 15px;
}

.about__title {

  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 10px;
  margin-right: 45px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-top: 9px;
  margin-right: 24px;
  margin-left: 14px;
  font-size: 20px;
  word-spacing: 1px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 88px;
  font-size: 18px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

.footer__menu-list {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style-type: none;
}

.footer__social-list-item {
  align-self: self-start;
  width: 50px;
  height: 50px;
}
.footer .address {
  margin-right: 50px;
  margin-left: 50px;
}
.start__paragraph {
  margin-bottom: 24px;
}